# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/components/
src/components/CardFilm.jsx
src/components/NavbarAI.jsx

/hoc/
src/hoc/WithLoader.jsx
src/hoc/WithMounted.jsx

DogImage.jsx

/features/counter/Counter.jsx
/features/counter/CounterSlice.js
/features/login/Login.jsx
/features/login/usernameSlice.js

